.login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* ---------- */
  height: 100%;
}

.login-form {
  width: 300px;
}

.login-form > label {
  display: block;
  margin-bottom: 20px;
}

.text,
.password {
  display: flex;
  margin-bottom: 30px;
}

.text label,
.password label {
  flex: 1 0 20%;
}

.text input,
.password input {
  padding: var(--pad);
}

button {
  margin-left: auto;
}